<% include ../partials/header%>

  <div style="width: 30%; height: 40%;">
    <h1>
      <%=campground.name%>
    </h1>

    <img style="width: 100%; height: 100% " src="<%=campground.image%>">

    <p>
      <%=campground.description %>
    </p>

    <%campground.comments.forEach(comment =>{ %>
      <p>
        <strong> <%= comment.author %></strong> - <%=comment.text %>
      </p>
    <%}) %>
  </div>

  <% include ../partials/footer%>